{
  "globals": {
    "vtt": "readonly",
    "VTT": "readonly",
    "WEBSITE_URL": "readonly",
    "ASCII": "readonly",

    "ACTIVE_EFFECT_MODES": "readonly",
    "BASE_ENTITY_TYPE": "readonly",
    "CHAT_MESSAGE_TYPES": "readonly",
    "COMPENDIUM_ENTITY_TYPES": "readonly",
    "CORE_SUPPORTED_LANGUAGES": "readonly",
    "DEFAULT_TOKEN": "readonly",
    "DEFAULT_NOTE_ICON": "readonly",
    "DICE_ROLL_MODES": "readonly",
    "DRAWING_TYPES": "readonly",
    "DRAWING_FILL_TYPES": "readonly",
    "DRAWING_DEFAULT_VALUES": "readonly",
    "ENTITY_TYPES": "readonly",
    "ENTITY_LINK_TYPES": "readonly",
    "ENTITY_PERMISSIONS": "readonly",
    "EULA_VERSION": "readonly",
    "FOLDER_ENTITY_TYPES": "readonly",
    "FOLDER_MAX_DEPTH": "readonly",
    "GRID_MIN_SIZE": "readonly",
    "GRID_TYPES": "readonly",
    "SOURCE_TYPES": "readonly",
    "MACRO_SCOPES": "readonly",
    "PLAYLIST_MODES": "readonly",
    "PACKAGE_AVAILABILITY_CODES": "readonly",
    "PASSWORD_SAFE_STRING": "readonly",
    "SOFTWARE_UPDATE_CHANNELS": "readonly",
    "SORT_INTEGER_DENSITY": "readonly",
    "TABLE_RESULT_TYPES": "readonly",
    "TEXT_ANCHOR_POINTS": "readonly",
    "TOKEN_DISPLAY_MODES": "readonly",
    "TOKEN_DISPOSITIONS": "readonly",
    "USER_ROLES": "readonly",
    "USER_ROLE_NAMES": "readonly",
    "MEDIA_MIME_TYPES": "readonly",
    "USER_PERMISSIONS": "readonly",
    "WALL_DIRECTIONS": "readonly",
    "WALL_DOOR_TYPES": "readonly",
    "WALL_DOOR_STATES": "readonly",
    "WALL_MOVEMENT_TYPES": "readonly",
    "WALL_SENSE_TYPES": "readonly",
    "HTML_FILE_EXTENSIONS": "readonly",
    "IMAGE_FILE_EXTENSIONS": "readonly",
    "VIDEO_FILE_EXTENSIONS": "readonly",
    "AUDIO_FILE_EXTENSIONS": "readonly",

    "CONST": "readonly",

    "benchmark": "readonly",
    "debounce": "readonly",
    "duplicate": "readonly",
    "diffObject": "readonly",
    "filterObject": "readonly",
    "flattenObject": "readonly",
    "encodeURL": "readonly",
    "expandObject": "readonly",
    "getRoute": "readonly",
    "invertObject": "readonly",
    "isObjectEmpty": "readonly",
    "mergeObject": "readonly",
    "hasProperty": "readonly",
    "getProperty": "readonly",
    "setProperty": "readonly",
    "hsvToRgb": "readonly",
    "rgbToHsv": "readonly",
    "rgbToHex": "readonly",
    "colorStringToHex": "readonly",
    "isNewerVersion": "readonly",
    "randomID": "readonly",

    "canvas": "readonly",
    "game": "readonly",
    "keyboard": "readonly",
    "socket": "readonly",
    "ui": "readonly",
    "twist": "readonly",

    "AudioHelper": "readonly",
    "Collection": "readonly",
    "Hooks": "readonly",
    "ImageHelper": "readonly",
    "KeyboardManager": "readonly",
    "ClientSettings": "readonly",
    "WorldSettingsStorage": "readonly",
    "SetupConfiguration": "readonly",
    "SocketInterface": "readonly",
    "SortingHelpers": "readonly",
    "GameTime": "readonly",
    "VideoHelper": "readonly",
    "Application": "readonly",
    "FormApplication": "readonly",
    "BaseEntitySheet": "readonly",
    "Localization": "readonly",
    "HandlebarsHelpers": "readonly",
    "Game": "readonly",
    "Roll": "readonly",
    "DiceTerm": "readonly",
    "MersenneTwister": "readonly",
    "Coin": "readonly",
    "Die": "readonly",
    "FateDie": "readonly",
    "DicePool": "readonly",
    "Canvas": "readonly",
    "CanvasLayer": "readonly",
    "PlaceableObject": "readonly",
    "PlaceablesLayer": "readonly",
    "ContextMenu": "readonly",
    "Dialog": "readonly",
    "Draggable": "readonly",
    "DragDrop": "readonly",
    "TextEditor": "readonly",
    "FilePicker": "readonly",
    "SearchFilter": "readonly",
    "FormDataExtended": "readonly",
    "Notifications": "readonly",
    "Tabs": "readonly",
    "Sidebar": "readonly",
    "SidebarTab": "readonly",
    "SidebarDirectory": "readonly",
    "ActorSheet": "readonly",
    "CombatTrackerConfig": "readonly",
    "CombatantConfig": "readonly",
    "ActiveEffectConfig": "readonly",
    "FolderConfig": "readonly",
    "GridConfig": "readonly",
    "ImagePopout": "readonly",
    "ItemSheet": "readonly",
    "JournalSheet": "readonly",
    "MacroConfig": "readonly",
    "MeasuredTemplateConfig": "readonly",
    "PermissionControl": "readonly",
    "PlayerConfig": "readonly",
    "PlaylistConfig": "readonly",
    "PlaylistSoundConfig": "readonly",
    "RollTableConfig": "readonly",
    "SceneConfig": "readonly",
    "EntitySheetConfig": "readonly",
    "ChatBubbles": "readonly",
    "HeadsUpDisplay": "readonly",
    "SceneControls": "readonly",
    "Hotbar": "readonly",
    "BasePlaceableHUD": "readonly",
    "MainMenu": "readonly",
    "SceneNavigation": "readonly",
    "Pause": "readonly",
    "PlayerList": "readonly",
    "AVConfig": "readonly",
    "CameraPopoutAppWrapper": "readonly",
    "CameraViews": "readonly",
    "DrawingConfig": "readonly",
    "DrawingHUD": "readonly",
    "LightConfig": "readonly",
    "NoteConfig": "readonly",
    "AmbientSoundConfig": "readonly",
    "TileConfig": "readonly",
    "TileHUD": "readonly",
    "TokenConfig": "readonly",
    "TokenHUD": "readonly",
    "WallConfig": "readonly",
    "EULA": "readonly",
    "InstallPackage": "readonly",
    "SetupConfigurationForm": "readonly",
    "UpdateNotes": "readonly",
    "UserManagement": "readonly",
    "WorldConfig": "readonly",
    "ChatPopout": "readonly",
    "SettingsConfig": "readonly",
    "ControlsReference": "readonly",
    "InvitationLinks": "readonly",
    "ModuleManagement": "readonly",
    "PermissionConfig": "readonly",
    "ActorDirectory": "readonly",
    "ChatLog": "readonly",
    "CombatTracker": "readonly",
    "CompendiumDirectory": "readonly",
    "ItemDirectory": "readonly",
    "JournalDirectory": "readonly",
    "MacroDirectory": "readonly",
    "PlaylistDirectory": "readonly",
    "SceneDirectory": "readonly",
    "Settings": "readonly",
    "FrameViewer": "readonly",
    "RollTableDirectory": "readonly",
    "EntityCollection": "readonly",
    "Compendium": "readonly",
    "EmbeddedEntity": "readonly",
    "Entity": "readonly",
    "Actors": "readonly",
    "Actor": "readonly",
    "ActorTokenHelpers": "readonly",
    "CombatEncounters": "readonly",
    "Combat": "readonly",
    "Folders": "readonly",
    "Folder": "readonly",
    "Items": "readonly",
    "Item": "readonly",
    "Journal": "readonly",
    "JournalEntry": "readonly",
    "Macros": "readonly",
    "Macro": "readonly",
    "Messages": "readonly",
    "ChatMessage": "readonly",
    "Playlists": "readonly",
    "Playlist": "readonly",
    "Scenes": "readonly",
    "Scene": "readonly",
    "RollTables": "readonly",
    "RollTable": "readonly",
    "Users": "readonly",
    "User": "readonly",
    "UserTargets": "readonly",
    "ActiveEffect": "readonly",
    "CanvasAnimation": "readonly",
    "ControlIcon": "readonly",
    "TextureLoader": "readonly",
    "MouseInteractionManager": "readonly",
    "Quadtree": "readonly",
    "Ray": "readonly",
    "NormalizedRectangle": "readonly",
    "ResizeHandle": "readonly",
    "PointSource": "readonly",
    "PreciseText": "readonly",
    "BackgroundLayer": "readonly",
    "DrawingsLayer": "readonly",
    "EffectsLayer": "readonly",
    "LightingLayer": "readonly",
    "NotesLayer": "readonly",
    "SightLayer": "readonly",
    "SoundsLayer": "readonly",
    "TemplateLayer": "readonly",
    "TilesLayer": "readonly",
    "TokenLayer": "readonly",
    "WallsLayer": "readonly",
    "Drawing": "readonly",
    "AmbientLight": "readonly",
    "Note": "readonly",
    "AmbientSound": "readonly",
    "MeasuredTemplate": "readonly",
    "Token": "readonly",
    "Wall": "readonly",
    "AbstractBaseShader": "readonly",
    "StandardIlluminationShader": "readonly",
    "StandardColorationShader": "readonly",
    "TorchIlluminationShader": "readonly",
    "TorchColorationShader": "readonly",
    "PulseIlluminationShader": "readonly",
    "PulseColorationShader": "readonly",
    "EnergyFieldColorationShader": "readonly",
    "ChromaColorationShader": "readonly",
    "WaveIlluminationShader": "readonly",
    "WaveColorationShader": "readonly",
    "FogColorationShader": "readonly",
    "SunburstIlluminationShader": "readonly",
    "SunburstColorationShader": "readonly",
    "LightDomeColorationShader": "readonly",
    "EmanationColorationShader": "readonly",
    "GhostLightIlluminationShader": "readonly",
    "GhostLightColorationShader": "readonly",
    "HexaDomeColorationShader": "readonly",
    "RoilingIlluminationShader": "readonly",
    "BlackHoleIlluminationShader": "readonly",
    "Cursor": "readonly",
    "DoorControl": "readonly",
    "ControlsLayer": "readonly",
    "Ruler": "readonly",
    "SpecialEffect": "readonly",
    "AutumnLeavesWeatherEffect": "readonly",
    "RainWeatherEffect": "readonly",
    "SnowWeatherEffect": "readonly",
    "BaseGrid": "readonly",
    "HexagonalGrid": "readonly",
    "GridHighlight": "readonly",
    "GridLayer": "readonly",
    "SquareGrid": "readonly",
    "AVClient": "readonly",
    "AVMaster": "readonly",
    "AVSettings": "readonly",
    "EasyRTCClient": "readonly",

    "CONFIG": "readonly",
    "FEATURES": "readonly",

    "Handlebars": "readonly",
    "HandlebarsIntl": "readonly"
  }
}